
/*-----------------
	Reset
-------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	}
:focus { outline: 0; }
body {
	line-height: 1;
	color: black;
	background: white;
	}
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*-------------------
	 BASE STYLES
-----------------------*/

/* !HTML TAGS */
html {
	font:18px/1 museosans;
}
body {
	color: black;
	}

h1, .h1 {
	font: 700 1.75rem/1.2 museoslab;
	margin:.7em 0;
	}

h2, .h2 {
	font: 200 1.313rem museosans;
	margin:1.2em 0 0;
	}

h3, .h3 {
	font:500 1rem museosans;
	margin:1.5em 0 .3em;
	}

h4, .h4 {
	font:500 1.2rem museosans;
	margin:0 0 .5em;
	}

p {
	margin:0 0 .6em 0;
	color:rgba(0, 0, 0, 0.7);
	font:500 1rem/1.45 museosans;
	}

ul { list-style: disc outside none; }

a {
	color: $purple500;
	text-decoration: underline;
	&:hover {
		color: scale-color($purple500, $lightness: 5%);
	}
}


img { max-width: 100%; }

button { margin:1em 0; }

strong { font-weight: bold; }

::-moz-selection {
	background: $purple500;
	color: white;
}

::selection {
	background: $purple500;
	color: white;
}

/*  !GENERIC & REUSABLE SELECTORS  */

.wrapper { width:90%; margin: 0 auto; }

.invis { display:none; }

.mainContent {
	clear: both;
	padding: 1em 0 2em;
	}


/*-------------
	SELF CLEARING FLOATS - Rocking it old skool son
---------------*/

.group:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/*
------------
    Self Clearing Floats in IE
------------
*/

/* IE6 */
* html .group {
	height:1%;
}

/* IE7 */
*:first-child+html .group{
	min-height: 1px;
}

/*-----------------
	STYLES FOR OVER 40em (640px) Width
-------------------*/

@media screen and (min-width: 40em) {

.wrapper {
	max-width: 1200px;
	}

} /* end @media */
