@mixin transition($trans...) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  transition: $trans;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin transform($trans...) {
  -webkit-transform: $trans;
  -moz-transform: $trans;
  -ms-transform: $trans;
  transform: $trans;
}

@mixin boxshadow($bshadow) {
  -webkit-box-shadow: $bshadow;
  -moz-box-shadow: $bshadow;
  -ms-box-shadow: $bshadow;
  box-shadow: $bshadow;
}

@mixin ellip {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  }